body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

body main canvas {
    width: auto !important;
    height: 100vh !important;
}

